.footer {
    font-size: 14px;
    background-color: darkseagreen;
    padding: 50px 0;
    color: white;
    margin-top: 20px;
}
a.a-tag {
    color: white;
    text-decoration: none;
}
p {
    font-size: medium;
    color:rgb(214, 214, 214);
}
a.icon {
    color: white;
    margin: 8px;
    font-size: large;
    border: 1px solid rgb(214, 214, 214);
    padding: 5px 10px 5px 10px;
    border-radius: 40px;
}
li {
    list-style-type: none;
}
a.a1 {
    text-decoration: none;
    color:rgb(214, 214, 214);
    font-size: medium;
}
.copyright {
    text-align: center;
    font-size: medium;
}
span {
    font-weight: bolder;
}