<footer id="footer" class="footer">
<div class="container">
    <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
            <a class="a-tag" routerLink="/home">
                <h1>Impact</h1>
            </a>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                consequatur modi non vero laboriosam iusto animi cupiditate. 
                Cumque, similique amet.</p>
            <div class="social-links d-flex mt-4">
                <a href="#" class="icon">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
                <li><a class="a1" href="#">Home</a></li>
                <li><a class="a1" href="#">About us</a></li>
                <li><a class="a1" href="#">Services</a></li>
                <li><a class="a1" href="#">Terms of Service</a></li>
                <li><a class="a1" href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
                <li><a class="a1" href="#">Web Design</a></li>
                <li><a class="a1" href="#">Web Development</a></li>
                <li><a class="a1" href="#">Project Management</a></li>
                <li><a class="a1" href="#">Marketing</a></li>
                <li><a class="a1" href="#">Graphic Design</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
                "A108 Adam Street"
                <br>
                "New York, NY 535022"
                <br>
                "United States"
                <br>
                <br>
                <strong>Phone:</strong>
                "+1 5589 55488 55"
                <br>
                <strong>Email:</strong>
                "info@example.com"
                <br>
            </p>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="copyright">
         &#169; Copyright 
        <strong>
            <span>Impact</span>
        </strong>
        . All Rights Reserved 
    </div>
</div>
</footer>
