<div class="container">
    <h1 class="main-heading">About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt temporibus, repellendus quidem placeat asperiores tenetur sed  reprehenderit sunt odit.</p>
<div class="row">
    <div class="col-lg-6">
        <h3>Voluptatem dignissimos provident quasi coroporis</h3>
        <img src="../../assets/about.jpg" class="img-abt" alt="about">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus aperiam atque sequi, animi beatae dolorum ad. Quo magnam nemo dolorum dignissimos sapiente libero, similique exercitationem?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque doloribus, ab necessitatibus delectus quam accusamus corrupti expedita dolorum neque nam. Quo magnam nemo dolorum dignissimos sapiente libero, similique exercitationem?</p>
    </div>
    <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi?</p>
        <div class="icon-text">
            <i class="fa-solid fa-circle-check"></i>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="icon-text">
            <i class="fa-solid fa-circle-check"></i>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="icon-text">
            <i class="fa-solid fa-circle-check"></i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro repellendus laboriosam non excepturi.</p>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum architecto temporibus dignissimos illo ipsum, esse officiis nemo, alias veritatis sed praesentium modi minus iure perspiciatis sapiente blanditiis iste error doloremque.</p>
        <img class="img-abt" src="../../assets/about.jpg">

    </div>
</div>
</div>