.container {
    background-color: whitesmoke;
}
h1.main-heading {
    text-align: center;
    margin: 10px;
    text-decoration-line: underline;
}
p.head-text {
    text-align: center;
    color: grey;
}
.row {
    border-radius: 20px;
    background-color: #ffffff;
    margin: 20px;
}
.col-lg-4 {
    background-color: darkseagreen; 
    border-radius: 20px 0px 0px 20px;
}
.inner-container {
    display: flex;
    background-color: #9bcf9b;
    margin: 15px 10px 15px 10px;
    border-radius: 20px;
}
.icon-form {
    color: white;
    margin: 20px;
    font-size: x-large;
    background: #b0dbb0;
    border-radius: 40px;
    padding: 5px 12px 1px 12px;
}
.icon-form:hover {
    color: darkseagreen;
    background-color: white;
}
.text {
    margin: 15px 10px 0px 5px;
    color: white;
}
.btn {
    width: 100%;
}
button.btn-1 {
    border: none;
    background-color: rgb(103, 141, 103);
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    margin-top: 30px;
}
button.btn-1:hover {
    background-color: whitesmoke;
    color: darkseagreen;
}