<div class="maindiv">
    <h2>Our Services</h2>
    <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
    
    <div class="outer-container">
        <div class="container" routerLink="/todo">
            
            <div class="first">
                <i class="fa-solid fa-chart-line"></i>
            </div>
                <h3 class="heading">ToDo</h3>
                
            <p class="p-tag">Provident nihil minus qui consequartur <br> non omnis maiores. Eos accusantium <br> minus dolores iure perferendis tempore <br> et consequatur.</p>
            <a  class="Read-more-Link">Read More</a>
            </div>
    
            <div class="container" routerLink="/pipes">
                <div class="first">
                    <i class="fa-solid fa-tower-broadcast"></i>
                </div>
                <h3 class="heading">Angular pipes</h3>
                  <p class="p-tag">Ut autem aut autem non a. Sint sint sit<br> facilis nam justo sint. Libero corrupti<br> neque eum hic non ut nesciunt dolorem. <br></p>
                  <a  class="Read-more-Link">Read More</a>
            </div>
        
            <div class="container" routerLink="/styling">
                 <div class="first">
                    <i class="fa-solid fa-burst"></i>
                </div>
                <h3 class="heading">Styling</h3>
                  <p class="p-tag">Ut excepturi voluptatem nisi sed. Quidem <br> fuga consequartor. Minus ea aut. Vel qui id <br> voluptas adipisci eos earum corrupti. <br></p>
                  <a  class="Read-more-Link">Read More</a>
                 </div>
    </div>
        
    <div class="outer-container">
        <div class="container" routerLink="/directives">
            
            <div class="first">
                <i class="fa-solid fa-chart-line"></i>
            </div>
            <h3 class="heading">directives</h3>
              <p class="p-tag">Non et temporibus minus omnis sed<br> dolor esse consequatur. Cupiditate sed <br> error ea fuga sit provident adipisci neque. <br> </p>
              <a  class="Read-more-Link">Read More</a>
        </div>

        <div class="container" routerLink="/blogs">
            <div class="first">
                <i class="fa-regular fa-calendar"></i>
            </div>
            <h3 class="heading">blogs</h3>
              <p class="p-tag"> Cumque et suscipit saepe. Est maiores<br> autem enim facilis ut aut ipsam corporis <br> aut. Sed animi at autem alias eius labore.  <br></p>
              <a  class="Read-more-Link">Read More</a>
        </div>
    
        <div class="container">
             <div class="first">
                <i class="fa-solid fa-message"></i>
            </div>
            <h3 class="heading">Dolori Architecto</h3>
              <p class="p-tag"> Hic molestias ea quibusdam eos.Fugiat <br> enim doloremque aut neque non et <br> debitis iure. Corrupti recusandae ducimus <br> enim.</p>
              <a class="Read-more-Link">Read More</a>
             </div>
        </div>
    </div>
