<div class="content">
    <div class="container">
        <h1 class="h1">Welcome to Impact</h1>
    <p class="h1-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nulla?</p>
    <div class="btn">
        <button class="btn-1">Get Started</button>
        <div class="icon-1">
            <i class="fa-regular fa-circle-play"></i>
            <p class="icon-para">Watch Video</p>
        </div>
    </div>
    </div>
    <img src="../../assets/hero-img.svg" class="img-hero">
    
</div>
