.container {
    background-color: darkseagreen;
    border-radius: 20px;
    margin-top: 50px;
    width: 50%;
}
h1 {
    color: white;
    text-align: center;
    padding-top: 12px;
}
.btn {
    width: 100%;
}
button.btn-1 {
    border: none;
    background-color: whitesmoke;
    color: darkseagreen;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 600;
}